@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.pre-title::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #303030;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav {
  margin-left: 131px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list .item + .item {
  margin-left: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.auth-nav {
  margin-left: auto;
}

.header-button {
  margin-left: 40px;
  margin-right: 20px;
  color: #ffffff;
  background-color: #555555;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-button:hover,
.header-button:focus {
  color: #ff6c00;
}

.hero .social-wrapper {
  /* position: relative; */
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 25px;
}

.hero-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-90deg) translateX(19px);
  transform: rotate(-90deg) translateX(19px);
  background-color: #ffffff;
}

.hero-list::before {
  content: "";
  display: block;
  bottom: 50%;
  left: -20%;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero .list-link {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.flex-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-description {
  padding-top: 184px;
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 208px;
  /* Розширює елемент на всю пусту область */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(25, 28, 38, 0.2)),
      to(rgba(25, 28, 38, 0.2))
    ),
    url("../images/hero-description-bg.jpg");
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero-description-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191c26;
}

.hero .pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero .pre-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero .title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-text {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero .list-link:hover,
.hero .list-link:focus {
  color: #ff6c00;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.flex-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-img:not(:first-child) {
  margin-left: 30px;
}

.about-description {
  margin-left: 30px;
}

.about .pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.about .title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.about .after-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}

.about-button {
  color: #303030;
  background-color: #ffffff;
}

.about-button:hover,
.about-button:focus {
  color: #ff6c00;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url("../images/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.services .pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services .pre-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.services .title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.services .text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.flex-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  margin-left: -30px;
}

.services-list {
  width: calc((100% - 30px) / 2);
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-first {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#171a24),
    to(rgba(23, 26, 36, 0.2))
  );
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-second {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#090b13),
    to(rgba(9, 11, 19, 0.2))
  );
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-list .item + .item {
  margin-top: 20px;
}

.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.services-button:hover,
.services-button:focus {
  color: #ff6c00;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits .pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.benefits .title {
  margin-bottom: 20px;
  max-width: 430px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits .after-title {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

.benefits .number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}

.sign {
  display: inline-block;
  padding-top: 15px;
  vertical-align: top;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}

.benefits .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* text-align: center; */
  color: #303030;
}

.flex-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.text-side {
  width: calc(50% - 15px);
  margin-left: 30px;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(50% - 15px);
  padding-left: 100px;
  padding-right: 100px;
}

.benefits-list .item {
  width: 170px;
  height: 133px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  background-color: #f7f7f7;
}

.benefits-list .item:nth-child(2n) {
  margin-left: 30px;
}

.benefits-list .item:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.benefits-list .item:nth-child(2) {
  margin-top: 35px;
}

.benefits-list .item:nth-child(3) {
  margin-top: -35px;
}

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f7f7;
}

.barbers .pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.barbers .title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.barbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.barbers-list .item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  text-align: center;
}

.barbers-img {
  margin-bottom: 30px;
}

.barber-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: #303030;
}

.barber-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.barbers .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.barbers .social-item + .social-item {
  margin-left: 10px;
}

.barbers .social-link {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #303030;
  background-color: #ffffff;
}

.barbers .social-link:hover,
.barbers .social-link:focus {
  color: #ff6c00;
}

.barbers .social-icon {
  fill: currentColor;
}

.barbers-list .thumb {
  position: relative;
  width: 370px;
  height: 346px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}

.barber-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#171a24),
    to(rgba(4, 5, 8, 0.327))
  );
  background-image: linear-gradient(#171a24 0%, rgba(4, 5, 8, 0.327) 100%);
}

.barbers-list .thumb:hover .barber-description {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.barber-description .text {
  padding: 24px;
  color: #ffffff;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .pre-title {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}

.portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 90px) / 4);
  margin-left: -30px;
}

.portfolio-gallery img {
  margin-left: 30px;
}

.booking-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1600px;
  height: 634px;
  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
  background-repeat: no-repeat;
  background-position: right;
}

.booking {
  width: 50%;
  width: 600px;
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}

.booking .title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contacts {
  width: 50%;
  background-image: url("../images/contacts-bg.png");
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.contacts .title {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contacts-list {
  margin-bottom: 70px;
  width: 270px;
}

.contacts .list-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts .list-link:hover,
.contacts .list-link:focus {
  color: #ff6c00;
}

.contacts .icon {
  margin-right: 16px;
  fill: none;
  stroke: currentColor;
}

.contacts .link-map {
  font-weight: 700;
}

.contacts .after-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer .list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer .list-link:hover,
.footer .list-link:focus {
  color: #ff6c00;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-list .item + .item {
  margin-left: 40px;
}

.form-booking {
  width: 570px;
}

.form-booking .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}

.form-field {
  position: relative;
  display: block;
}

.form-input {
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-bottom-color: rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
}

.form-field:hover .form-label {
  color: #ffffff;
}

.form-field:hover .form-input {
  border-bottom-color: #ffffff;
}

.user-data .form-input {
  width: 270px;
  height: 24px;
  padding-left: 62px;
  padding-bottom: 9px;
}

.user-data .form-field + .form-field {
  margin-left: 30px;
}

.user-message .form-input {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  padding-top: 27px;
  resize: none;
}

.form-button {
  color: #ffffff;
}

.form-button:hover,
.form-button:focus {
  color: #ff6c00;
} /*# sourceMappingURL=main.css.map */
