.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.line::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #303030;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 131px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 30px;
}

.auth-nav {
  margin-left: auto;
}

.item-nav__link,
.auth-nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.item-nav__link:hover, .item-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: #ff6c00;
}

.header-button {
  margin-left: 40px;
  margin-right: 20px;
  color: #ffffff;
}
.header-button:hover, .header-button:focus {
  color: #ff6c00;
}

.soc-hero {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 25px;
}

.soc-hero__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translateX(19px);
          transform: rotate(-90deg) translateX(19px);
  background-color: #ffffff;
}
.soc-hero__list::before {
  content: "";
  display: block;
  bottom: 50%;
  left: -20%;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc-hero__link {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}
.soc-hero__link:hover, .soc-hero__link:focus {
  color: #ff6c00;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__description {
  padding-top: 184px;
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 208px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-description-bg.jpg");
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-description-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191c26;
}
.hero__pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero__title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero__text {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero__line::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .about__description {
    margin-left: 30px;
  }
}
.about__pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.about__title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}
.about__after-title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .about__after-title {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .about {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 767.98px) {
  .about__img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    display: block;
  }
}

.about-button {
  color: #303030;
  background-color: #ffffff;
}
.about-button:hover, .about-button:focus {
  color: #ff6c00;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url("../images/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}
.services__pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.services__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  margin-left: -30px;
}

.services__line::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.services__list {
  width: calc((100% - 30px) / 2);
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.services__list--first {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services__list--second {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-services + .item-services {
  margin-top: 20px;
}
.item-services__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.services-button:hover, .services-button:focus {
  color: #ff6c00;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.benefits__meta {
  width: calc(50% - 15px);
  margin-left: 30px;
}
.benefits__pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.benefits__title {
  margin-bottom: 20px;
  max-width: 430px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits__after-title {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 15px);
  padding-left: 100px;
  padding-right: 100px;
}
.benefits__item {
  width: 170px;
  height: 133px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  background-color: #f7f7f7;
}
.benefits__item:nth-child(2n) {
  margin-left: 30px;
}
.benefits__item:nth-child(-n+2) {
  margin-bottom: 30px;
}
.benefits__item:nth-child(2) {
  margin-top: 35px;
}
.benefits__item:nth-child(3) {
  margin-top: -35px;
}

.item-benefits__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: #303030;
}
.item-benefits__sign {
  display: inline-block;
  padding-top: 15px;
  vertical-align: top;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}
.item-benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  /* text-align: center; */
  color: #303030;
}

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f7f7;
}
.barbers__pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.barbers__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}
.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}
.barbers__item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  text-align: center;
}

.item-barbers__img {
  margin-bottom: 30px;
}
.item-barbers__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: #303030;
}
.item-barbers__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.soc-barbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.soc-barbers__item + .soc-barbers__item {
  margin-left: 10px;
}
.soc-barbers__icon {
  fill: currentColor;
}

.soc-barbers__link {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #303030;
  background-color: #ffffff;
}
.soc-barbers__link:hover, .soc-barbers__link:focus {
  color: #ff6c00;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio__pre-title {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 90px) / 4);
  margin-left: -30px;
}
.portfolio__img {
  margin-left: 30px;
}

.booking-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  height: 634px;
  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
  background-repeat: no-repeat;
  background-position: right;
}

.booking {
  width: 50%;
  width: 600px;
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}
.booking__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contacts {
  width: 50%;
  background-image: url("../images/contacts-bg.png");
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts__title {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.contacts__after-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts__list {
  margin-bottom: 70px;
  width: 270px;
}

.item-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.item-contacts__link:hover, .item-contacts__link:focus {
  color: #ff6c00;
}
.item-contacts__link--bold {
  font-weight: 700;
}

.item-contacts__icon {
  margin-right: 16px;
  fill: none;
  stroke: currentColor;
}

.contacts__line::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item + .footer__item {
  margin-left: 40px;
}

.item-footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}
.item-footer__link:hover, .item-footer__link:focus {
  color: #ff6c00;
}

.form-booking {
  width: 570px;
}
.form-booking__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}

.form-booking__field {
  display: block;
}
.form-booking__field + .form-booking__field {
  margin-left: 30px;
}

.form-booking__input {
  width: 270px;
  height: 24px;
  padding: 0 8px 8px 0;
  margin: 0;
  border: 1px solid transparent;
  border-bottom-color: rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.form-booking__input:focus {
  border-bottom-color: #ffffff;
  outline: transparent;
}
.form-booking__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.form-booking__input::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.form-booking__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.form-booking__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.form-booking__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.form-booking__input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.form-booking__input:focus::-moz-placeholder {
  color: #ffffff;
}
.form-booking__input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.form-booking__input:focus::-ms-input-placeholder {
  color: #ffffff;
}
.form-booking__input:focus::placeholder {
  color: #ffffff;
}

.form-booking__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
}

.form-button {
  color: #ffffff;
}
.form-button:hover, .form-button:focus {
  color: #ff6c00;
}/*# sourceMappingURL=main.css.map */