:root {
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --extra-text-color: rgba(157, 164, 189, 0.6);
  --primary-title-color: #303030;
  --accent-color: #ff6c00;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f7f7f7;
}

/* General styles */
h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-body {
  font-family: "Open Sans", sans-serif;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
}

.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Hover & Focus */
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-button:hover,
.header-button:focus,
.hero .list-link:hover,
.hero .list-link:focus,
.about-button:hover,
.about-button:focus,
.services-button:hover,
.services-button:focus,
.contacts .list-link:hover,
.contacts .list-link:focus,
.footer .list-link:hover,
.footer .list-link:focus {
  color: var(--accent-color);
}

/* Тимчасовий колір фону для наглядності */
.page-header,
.hero,
.services {
  background-color: var(--primary-text-color);
}

/* Header */
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 131px;
}

.header-list {
  display: flex;
}

/* .header-list > .item:not(:first-child) {
  margin-left: 30px;
} */

.header-list .item + .item {
  margin-left: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-white-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-button {
  margin-left: 40px;

  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

/* Hero */
.hero .list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--primary-title-color);
}

.hero-description {
  padding-top: 176px;
  padding-left: 200px;
  padding-right: 50px;
  padding-bottom: 210px;
}

.hero .pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--extra-text-color);
}

.hero .title {
  margin-bottom: 20px;

  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--primary-white-color);
}

.hero-text {
  max-width: 360px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* About */
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.flex-about {
  display: flex;
}

.about-img:not(:first-child) {
  margin-left: 30px;
}

.about-description {
  margin-left: 30px;
}

.about .pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.about .title {
  margin-bottom: 20px;

  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-color);
}

.about .after-title {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.about-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
}

.about-button {
  color: var(--primary-title-color);
  background-color: var(--primary-white-color);
}

/* Services and Prices */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services .pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--extra-text-color);
}

.services .title {
  margin-bottom: 44px;

  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-white-color);
}

.services .text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.flex-services {
  display: flex;
  margin-bottom: 44px;
}
.services .list-left {
  width: 570px;
}

.services .list-right {
  margin-left: 30px;
  width: 570px;
}

.services-description {
  display: flex;
}

.services .text-left {
  margin-right: auto;
  margin-left: 20px;
}
.services .text-right {
  margin-left: auto;
  margin-right: 20px;
}

.services-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

/* Benefits */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits .pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.benefits .title {
  margin-bottom: 20px;
  max-width: 430px;

  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-color);
}

.benefits .after-title {
  max-width: 500px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.benefits .number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-color);
}

.sign {
  display: inline-block;
  padding-top: 15px;

  vertical-align: top;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);

  color: var(--accent-color);
}

.benefits .text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  /* text-align: center; */

  color: var(--primary-title-color);
}

.flex-benefits {
  display: flex;
  flex-direction: row-reverse;
}

.text-side {
  width: calc(50% - 15px);
  margin-left: 30px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;

  width: calc(50% - 15px);
  padding-left: 100px;
  padding-right: 100px;
}

.benefits-list .item {
  width: 170px;
  height: 133px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  text-align: center;
  background-color: var(--secondary-background-color);
}

.benefits-list .item:nth-child(2n) {
  margin-left: 30px;
}

.benefits-list .item:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.benefits-list .item:nth-child(2) {
  margin-top: 35px;
}

.benefits-list .item:nth-child(3) {
  margin-top: -35px;
}

/* Barbers */
.barbers {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--secondary-background-color);
}

.barbers .pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.barbers .title {
  margin-bottom: 44px;

  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-color);
}

.barbers-list {
  display: flex;
}

.barbers-list .item:not(:first-child) {
  margin-left: 30px;
}

.barbers-list .item {
  text-align: center;
}

.barbers-img {
  margin-bottom: 30px;
}

.barber-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;

  color: var(--primary-title-color);
}

.barber-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .pre-title {
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.portfolio-gallery {
  display: flex;
}

.portfolio-img:not(:first-child) {
  margin-left: 30px;
}

/* Booking + Contacts */
.booking-contacts {
  background-color: #191c26;
  padding-top: 130px;
  padding-bottom: 120px;
}

.flex-book-cont {
  display: flex;
}

/* Booking */
.booking {
  width: 50%;
}

.booking .title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-white-color);
}

/* Contacts */
.contacts {
  width: 50%;
  padding-left: 100px;
}

.contacts .title {
  margin-bottom: 40px;

  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-white-color);
}

.contacts-list {
  margin-bottom: 70px;

  width: 270px;
}

.contacts .list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.contacts .link-map {
  font-weight: 700;
}

.contacts .after-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.contacts-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* Footer */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--secondary-text-color);
}

.footer .list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--primary-title-color);
}

.flex-footer {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.footer-list .item + .item {
  margin-left: 40px;
}
