.about {
  padding-top: 120px;
  padding-bottom: 120px;

  &__wrapper {
    display: flex;
  }

  &__description {
    margin-left: 30px;
  }

  &__pre-title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;

    color: $primaryTitleColor;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    color: $primaryTitleColor;
  }

  &__after-title {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
  }

  &__text {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
  }
}

.about__img {
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.about-button {
  color: $primaryTitleColor;
  background-color: $primaryWhiteColor;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
