.barbers {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $secondaryBackgroundColor;

  &__pre-title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;

    color: $primaryTitleColor;
  }

  &__title {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    color: $primaryTitleColor;
  }

  &__list {
    display: flex;
    margin-left: -30px;
  }

  &__item {
    width: calc((100% - 2 * 30px) / 3);
    margin-left: 30px;
    text-align: center;
  }
}

.item-barbers {
  &__img {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;

    color: $primaryTitleColor;
  }

  &__text {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: calc(19 / 14);
    letter-spacing: 0.02em;

    color: $accentColor;
  }
}

.soc-barbers {
  display: flex;
  justify-content: center;

  &__item + &__item {
    margin-left: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}

.soc-barbers__link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $primaryTitleColor;
  background-color: $primaryWhiteColor;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
