.benefits {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__wrapper {
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__meta {
    @media screen and (min-width: 1200px) {
      width: 50%;
      margin-left: 30px;
    }
  }

  &__pre-title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;
    color: $primaryTitleColor;
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Raleway";
    font-size: 41.9px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    color: $primaryTitleColor;

    @media screen and (min-width: 768px) {
      max-width: 449px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 430px;
    }
  }

  &__after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
      max-width: 500px;
    }

    @media screen and (max-width: 1199.98px) {
      margin-bottom: 44px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      max-width: 480px;
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    width: calc((100% - 4 * 15px) / 2);
    height: 133px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $secondaryBackgroundColor;
  }

  &__item:nth-child(2) {
    margin-top: 50px;
  }

  &__item:nth-child(3) {
    margin-top: -20px;
  }
}

.benefits__pre-title::before {
  @extend %linePreTitle;
}

.item-benefits {
  &__number {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    letter-spacing: 0.05em;

    color: $primaryTitleColor;
  }

  &__sign {
    margin-left: 2px;

    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    vertical-align: super;

    color: $accentColor;
  }

  &__text {
    margin-top: 6px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;

    color: $primaryTitleColor;
  }
}
