.form-booking {
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 570px;
  }

  &__wrapper {
    margin-bottom: 44px;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.form-booking__field {
  display: block;

  @media screen and (max-width: 767.98px) {
    &:first-child {
      margin-bottom: 44px;
    }
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-right: 30px;
    }
  }
}

.form-booking__input {
  width: 100%;
  height: 24px;
  padding: 0 8px 8px 0;
  margin: 0;

  border: 1px solid transparent;
  border-bottom-color: rgba(157, 164, 189, 0.4);
  background-color: transparent;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primaryWhiteColor;

  @media screen and (min-width: 768px) {
    width: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &:focus {
    border-bottom-color: $primaryWhiteColor;
    outline: transparent;
  }

  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $extraTextColor;
  }

  &:focus::placeholder {
    color: $primaryWhiteColor;
  }
}

.form-booking__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
}

.form-button {
  @media screen and (max-width: 767.98px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  color: $primaryWhiteColor;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
