.page-header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  z-index: 999;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199.98px){
      align-items: flex-start;
    }
  }
}

.logo {
  padding-left: 11px;
  color: $primaryWhiteColor;

  @media screen and (min-width: 768px) {
    color: $primaryTitleColor;
  }
}

.logo__icon {
  fill: currentColor;
}

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px){
    padding-top: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 131px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item + &__item {
    @media screen and (min-width: 768px) {
      margin-left: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.auth-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px){
    padding-top: 7px;
  }

  @media screen and (max-width: 1199.98px) {
    flex-wrap: wrap;
    max-width: 165px;
    justify-content: flex-end;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}

.item-nav__link,
.auth-nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: $primaryWhiteColor;
  transition: color 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header-button {
  color: $primaryWhiteColor;
  transition: color 250ms $cubicBezier;

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 40px;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
