.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__pre-title {
    margin-bottom: 71px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;
    color: $primaryTitleColor;

    @media screen and (min-width: 768px) {
      margin-bottom: 44px;
    }
  }

  .portfolio__pre-title::before {
    @extend %linePreTitle;
  }

  &__gallery {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
}

.portfolio__img {
  display: block;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}
