.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;

  &__pre-title {
    margin-bottom: 44px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;

    color: $primaryTitleColor;
  }

  &__gallery {
    display: flex;
    width: calc((100% - 3 * 30px) / 4);
    margin-left: -30px;
  }

  &__img {
    margin-left: 30px;
  }
}
