.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  background: transparent;
  border: 1px solid $accentColor;
  border-radius: 25px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}
