$primaryFont: "Open Sans", sans-serif;
$primaryTextColor: #555555;
$secondaryTextColor: #9da4bd;
$extraTextColor: rgba(157, 164, 189, 0.6);
$primaryTitleColor: #303030;
$accentColor: #ff6c00;
$primaryWhiteColor: #ffffff;
$secondaryBackgroundColor: #f7f7f7;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);