$primaryFont: "Open Sans", sans-serif;
$primaryTextColor: #555555;
$secondaryTextColor: #9da4bd;
$extraTextColor: rgba(157, 164, 189, 0.6);
$primaryTitleColor: #303030;
$accentColor: #ff6c00;
$primaryWhiteColor: #ffffff;
$secondaryBackgroundColor: #f7f7f7;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$backdropBackgroundColor: rgba(0, 0, 0, 0.8);
$modalBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  $modalButtonBorder: rgba(0, 0, 0, 0.1);
  $primaryBlackColor: #000000;
  $primaryInputBorder: rgba(33, 33, 33, 0.2);
$secondaryInputBorder: rgba(255, 255, 255, 0.3);
$placeholderColor: rgba(117, 117, 117, 0.5);

